<% provide(:title, 'Start lesson') %>
<h1>Start lesson</h1>
<div class="row">
  <%= form_for [@lesson, @result] do |f| %>
    <%= f.hidden_field :lesson_id, value: params[:lesson_id] %>
    <%= f.hidden_field :word_id, value: @word.id %>
    <div class="span6">
      <%= @word.name %>
    </div>
    <div class="span6">
      <% @options.each do |option| %>
        <%= radio_button_tag :option_id, option.id %>
        <%= option.answer %>
        <br>
      <% end %>
    </div>
    <%= f.submit "Next", class: "btn btn-large btn-primary" %>
  <% end %>
</div>
