<% provide(:title, 'All categories') %>
<h1>All categories</h1>
<%= link_to "Make new Category", new_admin_category_path %>

<%= will_paginate %>

<ul class="categories">
  <% @categories.each do |category| %>
    <li>
      <%= link_to category.name, category %>
      <%= category.content%>
      <%= link_to "edit", edit_admin_category_path(category.id) %>
      <%= link_to "delete", category, method: :delete,
                                  data: { confirm: "You sure?" } %>
    </li>

  <% end %>
</ul>

<%= will_paginate %>	
