<% provide(:title, @category.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @category.name %> 
      </h1>
    </section>
  </aside>
  <div class="span8">
    <%= render 'shared/word_form' %>
    <% if @category.words.any? %>
      <h3>words (<%= @category.words.count %>)</h3>
      <%= link_to "Make new words", "#" %>
      <ol class="words">
        <%= render @words %>
      </ol>
      <%= will_paginate @words %>
    <% end %>
  </div>
</div>